<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Truks rounds</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/vue.js"></script>
    <script src="/js/socket.io.js"></script>
</head>
<body>
<div id="main">

    <div>
        <label>Дата: </label>
        <input type="date" v-model="date">
    </div>

    <div>
        <label>Смена: </label>
        <input type="radio" v-model="shift" value="day"> <label>День</label>
        <input type="radio" v-model="shift" value="night"> <label>Ночь</label>
        <input type="radio" v-model="shift" value="both"> <label>Оба</label>
    </div>

    <div>
        <label>Выберите локацию: </label>
        <select v-model="location">
            <option disabled value="">Выберите </option>
            <option v-for="location in locations" v-bind:value="location.id">
                {{ location.name }}
            </option>
        </select>
    </div>
    <div>
        <input type="submit" value="Запрос" role="button" class="btn btn-info" @click="getRounds">
        <input type="submit" value="Очистить" role="button" class="btn btn-danger" @click="clearMachines">

    </div>

    <div>
        <table>
            <thead>
            <tr>
                <td>Машина</td>
                <td>Борт номер</td>
                <td>Локация</td>
                <td>Количество</td>
                <td>Дата</td>
                <td>Смена</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="machine in machines">
                <td>{{ machine.name }}</td>
                <td>{{ machine.number }}</td>
                <td>{{ machine.location }}</td>
                <td>{{ machine.count }}</td>
                <td>{{ machine.date }}</td>
                <td>{{ machine.shift }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<script src="/js/main.js"></script>
<!--<script>-->
<!--document.addEventListener("DOMContentLoaded", mainstats.getMainStats);-->
<!--</script>-->
</body>
</html>